<nav id="nav-bar">
  <div>
    <p style="color: rgb(0, 89, 178);">SeekLish</p>
  </div>

  <div id="links">
    <a href="/quiz">
      <img src="https://img.icons8.com/color-glass/48/abc.png" alt="quiz" title="Quiz" />
    </a>
    <a href="/puzzle">
      <img src="https://img.icons8.com/external-smashingstocks-outline-color-smashing-stocks/66/external-puzzle-party-and-celebrations-smashingstocks-outline-color-smashing-stocks.png" alt="puzzle" title="Bulmaca" />
    </a>
    <a href="/wordchain">
      <img src="https://img.icons8.com/external-others-pike-picture/50/external-brain-dementia-brain-disease-others-pike-picture-8.png" alt="hafiza" title="Hafıza Çivisi" />
    </a>
    <a href="/puan-tablosu">
      <img src="https://img.icons8.com/color/48/features-list.png" alt="puan" title="Puan Tablosu" />
    </a>
    <a href="/profile">
      <img src="https://img.icons8.com/arcade/64/user-female-circle.png" alt="profil" title="Profil" />
    </a>
  </div>
</nav>
