<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/pages/forgot-password.css">
</head>
<body>





      
    <div class="forgot-password-main">
        <div class="forgot-password">
            <div>
                <div id="forgot-password-text">
                    <h2>Hesabını Bul</h2>
                    <p>Şifreni değiştirmek için hesabınla ilişkilendirilmiş e-posta adresini gir.</p>

                </div>
                <div>
                    <form action="/forgot-password" method="POST">
                        <input type="email" name="email" required placeholder="E-posta">
                        <button type="submit">Şifre Sıfırla</button>
                    </form>

                </div>
                
                  
                   
            </div>

            

        </div>

    </div>

   
    

    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
        <script>
          alert("<%- errorMessage %>");
        </script>
      <% } %>
      
</html>